ion-header{
    text-align: center;
    h3{
        text-align: center;
    }
}
ion-content{
    text-align: center;
    h2{
        text-align: center;
    }
    img {
        border-radius: 50%;
        margin-top: 10px;
        width: 200px;
        height: 200px;
    }
    h5{
        text-align: left;
    }
}